doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css')
    script(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
    script(href='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    
  body
    nav
        div(class='navbar-wrapper container')
            a(href="#", class="brand-logo") WiBi
        ul(class="right")
            li 
                a(href="#") Home
            li 
                a(href="#") Contact us
    block content
